@import "../Skeleton/css/normalize.css";
@import "../Skeleton/css/skeleton.css";
@import url(https://fonts.googleapis.com/css?family=Raleway);

.container {
  max-width: 800px;
}

.header {
  max-width: 800px;
  width: 100%;
  background-color: white;
  margin-bottom: 2rem;
  padding-top: 20px;

  .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 1rem;
    }
  }
}

.about {
  margin: auto;
  max-width: 400px;
  text-align: center;

  .social {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 1rem;
    }

    .github {
      background-image: url(assets/github-mark.png);
      background-size: 4rem 4rem;
      background-repeat: no-repeat;

      display: block;
      width: 4rem;
      height: 4rem;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .twitter {
      &:before {
        background-image: url(assets/twitter-mark.png);
        background-size: 6.5rem 6.5rem;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        z-index: -1;
        width: 5.5rem;
        height: 5.5rem;
        margin-left: -1rem;
        margin-top: -1rem;
        display: block;
      }

      width: 4rem;
      height: 4rem;
      display: block;
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;
    }
  }
}

.post {
  margin-top: 2rem;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.0rem;
  }
}

pre {
  em {
    color: red;
  }
}
